In [4]:
list = ['abcd',786,2.23,'john',70.2]

In [5]:
tinylist = [123,'john']

In [6]:
print(list)

['abcd', 786, 2.23, 'john', 70.2]

In [7]:
print(tinylist)

[123, 'john']

In [8]:
print(list,tinylist)

['abcd', 786, 2.23, 'john', 70.2] [123, 'john']

In [9]:
print(list[1],tinylist[0])

786 123

In [10]:
print(list[1]+tinylist[0])

909

In [13]:
print(list[0])

abcd

In [14]:
print(list[1:2])

[786]

In [16]:
print(list[0:2])

['abcd', 786]

In [33]:
list = range(0,10000000,10)

In [34]:
print(list)

range(0, 10000000, 10)