# For Loop

In [1]:
#Printing Numbers from 1 to 10
#1) One way
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# for i in range(1,11):
     statements
     statements

In [4]:
# 2) Second way 
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(1,101,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97
100

In [5]:
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [13]:
fruits = ['Mango','Banana','Orange','Apple']

In [14]:
for g in fruits:
    print(g)

Mango
Banana
Orange
Apple

In [6]:
numbers = [1,4,5,6]
addition = numbers[0]+numbers[1]+numbers[2]+numbers[3]

In [7]:
addition

16

In [8]:
numbers = [1,3,4,5,6,2,3,4,5,6,7,8,1,2,3,4,5]

In [11]:
total = 0
for b in numbers:
    total = total + b 
    
print(total)

69