# String Concatenation

In [1]:
name = "Rajesh"

In [2]:
roll_no = '34'

In [3]:
print(name + roll_no)

Rajesh34

In [5]:
print(name + " "+ roll_no)

Rajesh 34

In [6]:
name = 'Rajesh '
print(name + roll_no)

Rajesh 34

In [7]:
name = "Sonu"

In [8]:
roll = 3

In [9]:
print(type(roll))

<class 'int'>

In [10]:
print(type(name))

<class 'str'>

In [11]:
print(name + roll)

TypeError: can only concatenate str (not "int") to str

In [12]:
roll = '234'

In [13]:
print(type(roll))

<class 'str'>

# Type Casting

In [14]:
x = 4

In [15]:
print(type(x))

<class 'int'>

In [16]:
type(float(x))

float

In [17]:
print(type(x))

<class 'int'>

In [18]:
Y = float(x)

In [19]:
print(type(Y))

<class 'float'>

In [22]:
z = list(x)

TypeError: 'int' object is not iterable

In [23]:
S = "Dinesh"

In [24]:
D = list(S)

In [25]:
D

['D', 'i', 'n', 'e', 's', 'h']

In [26]:
f ="Subhash21"

In [27]:
print(type(f))

<class 'str'>

In [28]:
g = list(f)

In [29]:
g

['S', 'u', 'b', 'h', 'a', 's', 'h', '2', '1']

In [30]:
r = '56'

In [31]:
print(type(r))

<class 'str'>

In [32]:
y = int(r)

In [33]:
print(type(y))

<class 'int'>

In [34]:
p = float(r)

In [35]:
print(type(p))

<class 'float'>

In [36]:
g = list(r)

In [37]:
g

['5', '6']

In [38]:
S = [1 ,3.3,'Sonu']

In [39]:
print(S)

[1, 3.3, 'Sonu']

In [40]:
F = [1,2,[1,2,3],3]

In [41]:
F

[1, 2, [1, 2, 3], 3]

In [42]:
X = 12354
Z = list(X)

TypeError: 'int' object is not iterable